@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
.sticky-head{
    position: sticky;
    top: 0;
}
.contact-section {
    height: 30px;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-around;
}

.left-section {
    width: 25%;
    height: 100%;
    display: flex;
    font-size: 10px;
    justify-content: space-around;
}

.right-section {
    width: 13%;
    height: 100%;
    display: flex;
    font-size: 10px;
    justify-content: space-around;
}

.navbar {
    width: 100%;
    background-color: #fff;
    height: 55px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.nav-left {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-right {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 2%;
    border: 2px solid transparent;
}

.search {
    padding-right: 100px;
    background-color: #eaeaea;
    border: 0px
}
.search:focus{
outline: none;
}
.saprator{
    width: 1px;
    height: 80%;
    color: gray;
    display: contents;
    font-size: 1.5rem;
}

.logo {
    width: 140px;
}
.top-menu{
    background-color: #fff;
    height: 50px;
}
.top-menu-div{
    width: 100%;
    height: 54px;
    background-color: #fff;
}
.top-menu{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.selected{
    width: 30%;
    margin: auto;
}
.selected-glow{
    width: 20%;
    border-top: 4px solid #fdd835;
}
.tab {
    width: 30%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.men-images {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 20px;
}

.image {
    width: 30%;
    height: 100%;

}

.crazy-image {
    width: 100%;
}

.categories {
    width: 85%;
    height: 185px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.box {
    width: 10%;
    height: 100%;
}

.cat-image {
    width: 100%;
    height: 80%;
    border-radius: 10%;
}

.align {
    text-align: center;
    font-weight: 600;

}
.pop-cat{
    display: flex;
    width: 100%;
    height: auto;
}
.pop-cat-box{
    width: 16.3%;
}
.pop-cat-box img{
    width: 100%;
}

.dis-banner{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.dis-banner-img{
    width: 48%;
    height: auto;
}
.banner-image{
    width: 100%;
}
.banner-image2{
    width: 100%;
}
.b-sellers-men{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    
}
.b-sellers-men-box{
    display: flex;
    justify-content: space-around;
    
    
}
.b-s-m-box-image img{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    
}
.bsbox-cap{
    margin: 0 15px;
}
.caption-men-b-s-box{
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 5px;
}
.span-cap{
    text-decoration: line-through;
    padding-left: 5px;
    font-size: .8rem;
    font-weight: 300;
}
.viwe-all{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
.just-arrived{
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.j-s-img{
    margin: 15px;
}
.j-s-img img{
    width: 100%;
}
.best-bargain{
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: space-around;
}
.best-bargain-img{
    margin: 0 0;
}
.best-bargain-img img{
    width: 100%;
}
.buttom{
    width: 100%;
    background-color: black;
}
.buttom-box{
    width: 85%;
    margin: auto;
    padding: 75px 0;
    color: #eaeaea;
}
.b-logo{
    color: #fdd835;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}
.trademark{
    font-size: .6rem;
    position: relative;
    top: -11px;
}
.contact-info{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.c-info-box{
    width: 25%;
}
.c-heading{
    color: #fdd835;
    font-size: .9rem;
    font-weight: 550;
    margin-bottom: 10px;
}
.ul{
    color: #eaeaea;
    list-style-type: none;
    padding: 0;
    font-size: .8rem;
}
.li{
    margin-top: 5px;
}
.s-icon-top{
    padding-right: 7px;
    text-decoration: none;
    font-size: 1.25rem;
}
.s-icon{
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.25rem;
}
.sub-email{
    width: 100%;
}
.email{
    background-color: black;
    color: #eaeaea;
    border: none;
    border-bottom: 2px solid #fdd835;
    height: 38px;
}
.email:focus{
    outline: none;
}
button{
    border: none;
    background-color: #fdd835;
    height: 40px;
}
.buttom-last-box{
    width: 100%;
    height: 18vh;
    display: flex;
    border-bottom: 2px solid gray;
}

.first-b-box{
    font-size: .8rem;
}
.fa-arrow-rotate-left{
    margin-right: 15px;
}
.fa-indian-rupee-sign{
    margin-right: 15px;
}
.b-l-box-1{
    width: 25%;
    height: auto;
}
.b-l-box-2{
    width: 25%;
    height: auto;
    color: #fdd835;
    font-size: .9rem;
    font-weight: 550;
    margin-bottom: 10px;
}
.b-l-box-3{
    width: 50%;
    color: #fdd835;
    font-size: .9rem;
    font-weight: 550;
    margin-bottom: 10px;
}
.play-store img{
    width: 40%;
    height: auto;
}
.buttom-last{
    width: 98%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;

}
.buttom-last-li{
    width: 25%;
}
.buttom-last-li-head{
    font-size: 1.3rem;
    font-weight: 600;
}
.sitemap{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #51cccc;
}
.pra{
    border-top: 2px solid gray;
    padding-top: 40px;
}
.p-head{
    font-size: 1.3rem;
    font-weight: 650;
}
.p-data{
    padding: 5px 0;
}

/* offers page */
.offers-page{
    width: 85%;
    margin: auto;
    margin-top: 16px;
}
.offer-p-heading{
    font-size: 2.5rem;
    font-weight: 1000;
    display: flex;
    justify-content: center;
}
.offer-p-discrip{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
}
.banner-offer-page{
    margin-top: 15px;
}
.banner-offer-page img{
    width: 100%;
}

/* fanbook page */
.fanbook{
    width: 100%;
}
.fan-banner{
    width: 100%;
}
.fan-banner img{
    width: 100%;
    margin-top: 20px;
}
